*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: monospace;
    font-size: 1rem;
}
.allContent, section, .titleandDesc, .entrada, .botoes{
    margin: 0 auto;
}
.efeito-flutuante{
    margin: 0 auto;
    margin-top: 60px;
    max-width: 500px;
}
.efeito-flutuante img{
    width: 200px;
    animation: float 6s ease-in-out infinite;
}
@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-20px)
	}
}
section{
    max-width: 500px;
    background-color: darkcyan;
    padding: 15px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 1px 3px 3px 1px #bbbbbb;
}
.allContent{
    width: 70%;
}
.titleandDesc, .entrada, .botoes{
    width: 80%;
    text-align: center;
    padding: 10px;
    color: #fff;
}
.botoes button{
    width: 35%;
    padding: 5px;
    outline: none;
    border: none;
    background-color: #ebebeb;
}
input{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    width: 80%;
}
#btCalcular, #btLimpar{
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-weight: 600;
}
#btCalcular{
    background-color: salmon;
}
#btLimpar{
    background-color: goldenrod;
}
#btLimpar:hover{
    background-color: #ffc83d;
}
#btCalcular:hover{
    background-color: #ff9286
}
.resposta{
    width: 40%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}