*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: monospace;
    font-size: 1rem;
}
section{
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 1px 3px 3px 1px #ebebeb;
}
.allContent, section, .titleandDesc, .entrada, .botoes{
    margin: 0 auto;
}
.allContent{
    width: 70%;
}
.titleandDesc, .entrada, .botoes{
    width: 80%;
    text-align: center;
    padding: 10px;
}
.botoes button{
    width: 35%;
    padding: 5px;
    outline: none;
    border: none;
    background-color: #ebebeb;
}
input{
    border: none;
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    width: 80%;
}
.resposta{
    width: 40%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}