*{
    margin: 0;
    padding: 0;
}
body{
    font: normal 1em Arial;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header{
    text-align: center;
    padding: 20px;
}
header h1{
    color: #242424;
}
.img{
    max-width: 400px;
    text-align: center;
}
.img img{
    width: 150px;
}
#resposta{
    text-align: center;
    max-width:200px ;
    border-radius: 8px;
    margin: 0 auto;
    margin: 20px auto;
    color: #fff;
    padding: 20px;
}
form div{
    margin: 15px 0px;
}
.container{
    margin: auto;
    padding: 15px;
    max-width: 400px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur (10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 1px 3px 5px 3px rgb(230, 228, 228);
}
input{
    outline: none;
    background-color: #d1d1d14f;
    border: 1px solid #6161a8;
}
.area-total input, .area-taxa input, .area-botao input{
    display: block;
    margin: auto;
    height: 40px;
    width: 70%;
    margin-bottom: 15px;
    border-radius: 10px;
}
#btCalculargorjeta{
    background-color: #6161a8;
    color: #fff;
    font-size: 1.2rem;
}
#btCalculargorjeta:hover{
    background-color: #6e6ebe;
}

