*{
    margin: 0px;
    padding: 0px;    
}
:root{
    --ColorPikachu : #FFD53C;
}
body{
    font-family: monospace;
}
header{
    width: 40%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 3px 3px 3px 0px;
    border: #000 solid 3px;
    text-align: center;
    font-weight: normal;
    background-color: var(--ColorPikachu);
  }
.card {
    perspective: 150rem;
    position: relative;
    height: 15rem;
    margin: 2rem;
    width: 100%;
    max-width: 160px;
    box-shadow: none;
    background: none;
}
.card-side {
    height: 10rem;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding:2rem;
    color: white;
}
.card-side.back {
    transform: rotateY(-180deg); /*onde define a rotação pra tras*/
    background-image: url(../img/umbreon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.card-side.front {
    background-image: url(../img/pokemoncostas.png);
    background-position: center;
    background-size: cover;
}
.card:hover .card-side.front {
    transform: rotateY(180deg);  /*onde define a rotação pra frente*/
}

.card:hover .card-side.back {
    transform: rotateY(0deg);
}
.collectionColumn{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
a{
    width: 130px;
    padding: 16px;
    text-decoration: none;
    border: #000 solid 2px;
    border-radius: 4px;
    box-shadow: #8080808c 1px 1px 5px 0px;
    background-color: var(--ColorPikachu);
    box-shadow: 3px 3px 3px 0px;
    font-weight: bold;
    cursor: pointer;
}
