.collectionColumn{
    width: 17%;
    margin-left: 25px;
    margin-right: 5px ;
    display: inline-block;
}
.carta {
    perspective: 150rem;
    position: relative;
    height: 15rem;
    margin: 2rem;
    max-width: 160px;
    box-shadow: none;
    background: none;
}
.card-side {
    margin: auto;
    height: 10rem;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding:2rem;
    color: white;
}
.card-side.back {
    transform: rotateY(-180deg); /*onde define a rotação pra tras*/
    background-image: url(../img/umbreon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.card-side.front {
    background-image: url(../img/pokemoncostas.png);
    background-position: center;
    background-size: cover;
}
.card-side.back.genesect, .card-side.back.umbreon, .card-side.back.kindler, .card-side.back.volcanion, .card-side.back.shaymin, .card-side.back.garchomp, .card-side.back.simisear, .card-side.back.sceptile, .card-side.back.whimsicott, .card-side.back.phanpy {
    background-position: center;
    background-size: contain;
}
.card-side.back.umbreon{
    background-image: url(../img/umbreon.png);
}
.card-side.back.genesect{
    background-image: url(../img/genesect.png);
}
.card-side.back.kindler{
    background-image: url(../img/kindler.png);
}
.card-side.back.volcanion{
    background-image: url(../img/volcanion.jpg);
}
.card-side.back.shaymin{
    background-image: url(../img/shaymin.png);
}
.card-side.back.garchomp{
    background-image: url(../img/garchomp.png);
}
.card-side.back.simisear{
    background-image: url(../img/simisear.png);
}
.card-side.back.sceptile{
    background-image: url(../img/sceptile.jpg);
}
.card-side.back.whimsicott{
    background-image: url(../img/whimsicott.png);
}
.card-side.back.phanpy{
    background-image: url(../img/phanpy.jpg);
}
.carta:hover .card-side.front {
    transform: rotateY(180deg);  /*onde define a rotação pra frente*/
}
.carta:hover .card-side.back {
    transform: rotateY(0deg);
}

