*{
  margin: 0px;
  padding: 0px;    
}
body{
  font-family: monospace;
}
h1{
  text-align: center;
  font-weight: normal;
}
.rightBar{
  float: right;
  border: 1px solid red;
}
.sideBar{
  width: 170px;
  text-align: center;
}
.efeito-flutuante{
  float: right;
  position: fixed;
  margin-top: 200px;
}
nav ol, nav li, button a{
  list-style: none;
  text-decoration: none;
}
nav li{
  margin-bottom: 10px;
}
nav button{
  box-shadow: #8080808c 1px 1px 5px 0px;
}
button a{
  color: #000;
}
#btMenu{
  margin: auto;
  color: #65b5f6;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 16px;
  width: 130px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#btMenu:focus {
  animation: swing 1s ease;
  animation-iteration-count: 1;
}
#btMenu:hover{
  width:140px;
  right: 100%;
}
  
@keyframes swing {  /*animação*/
    15% {
      transform: translateX(5px);
    }
    30% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(3px);
    }
    65% {
      transform: translateX(-3px);
    }
    80% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-20px)
	}
}
.efeito-flutuante  img {
  width: 150px;
  animation: float 6s ease-in-out infinite;
}
