*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
header{
    text-align: center;
}
input{
    outline: none;
    margin: 5px 0 5px;
    height: 25px;
    width: 90%;
}
.conteiner{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #dbdbdb;
}
button{
    padding: 5px;
}
#resposta{
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #123;
    color: #fff;
    width: 20%;
    margin-top: 15px;
}