*{
    margin: 0px;
    padding: 0px;
}
:root{
    --bg-body-glass: linear-gradient(45deg, #291ec4,#d63bdb );
    --bg-glass: linear-gradient( rgba(255,255,255,0.1), rgba(255,255,255,0.4) );
    --borda : rgba(255,255,255,0.3);
    --font-color: #ececec;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: var(--bg-body-glass);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}
label, .title, #btEnviar , #outResposta{
    color: var(--font-color);
}
.title, .area-botao{
    text-align: center;
}
img{
    width: 100%;
}
section {
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
    background: var(--bg-glass);
}
.area-formulario{
    width: 50%;
}
.areaImg{
    width: 45%;
}
.areaImg img{
    width: 80%;
}
form{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
input{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    outline: none;
}
.area-email input, .area-numero input, .area-linguagem input{
    height: 40px;
    width: 100%;
    border: var(--borda) 1px solid;
}
.area-name input{
    width: 48%;
    height: 40px;
    border: var(--borda) 1px solid;
}
.area-email, .area-linguagem, .area-numero, .area-radio, .area-opcao{
	width: 100%;
    margin-bottom: 15px;
}
.area-name{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#btEnviar{
    width: 45%;
    margin: auto;
    background-color: #4F81BD;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
#btEnviar:hover{
    background-color: #4646cc;
}
input::placeholder{
	color:#ececec;
}
#outResposta{
    text-align: center;
    margin: 10px;
}