*{
    margin: 0px;
    padding: 0px;
}
header{
    color: #ffffff;
    margin: 15px;
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #474747;
    background-color: #6666da;
}
img{
    width: 100%;
}
section {
    margin: 0 auto;
    background-color: #ffffff;
    width: 750px;
    padding: 20px;
    border-radius: 8px;
}
.area-formulario{
    width: 40%;
}
.areaImg{
    width: 50%;
}
form{
    display: flex;
    justify-content: space-between;
}
input{
    border: none;
    background-color: #f7f7f7;
    border-radius: 5px;
}
.area-email input,.area-name input, .area-numero input, .area-linguagem input{
    width: 100%;
    height: 40px;
}
.area-email, .area-linguagem, .area-numero, .area-radio, .area-opcao, .area-name, .area-botao{
	width: 100%;
    margin-bottom: 15px;
}
.area-botao{
    text-align: right;
}
#btEnviar{
    width: 45%;
    margin: auto;
    color: white;
    background-color: #6666da;
    padding: 10px;
}
#btEnviar:hover{
    background-color: #4646cc;
}
input::placeholder{
	color:#6666da;
}
input:focus{
	outline: none;
}
#outResposta{
    text-align: center;
    color: #ffffff;
    margin: 10px;
}