*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    background-image: linear-gradient(#ff2cdf, #0014ff);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: 100%;
    background-attachment: fixed;

}
#container {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    width: 500px;
    height: 510px;
    border-radius: 10px;
    position: relative;
}
#imguser {
    width: 190px;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
h1{
    text-align: center;
    padding-top: 20px;
    color: #3a3a3a;
}
input{
    height: 40px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 6px;
}
form{
   margin: 40px;
}
#area-senha, #area-email{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
#area-email input, #area-senha input{
	width:85%;
    justify-content: center;
}
#btCadastrarlogin{
    width: 50%;
    background-color: #9494fa;
    color: #ffffff;
    cursor:pointer;
    padding: 10px;
    margin-bottom: 20px;
}
#btCadastrarlogin:hover{
    background-color: #4072a0;
}
#area-botao-login{
    display: flex;
    justify-content: center;
}
#entrar{
    text-align: center;
    color:#3a3a3a;
}
input:focus{
	outline: none;
	font-weight: lighter;
}

