:root{
    --bodybgd: #0D1117;
    --fontcolor: #c9d1d9;
    --user: #8b949e;
    --header:  #161B22;
    --links: #58a6ff;
    --border: #66666665;
}
p, button{
    margin-top: 16px;
    margin-bottom: 16px;
}
nav li, .subheader li, .follower li{
    list-style: none;
    display: inline;
}
#logo{
    width: 32px;
}
nav li{
    margin-right: 16px;
    text-align: center;
    font-weight: 600;
    font-size: 0.850rem;
}
nav ul{
    width: 380px;
}
nav input{
    width: 270px ;
    padding: 6px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: var(--bodybgd);
    border: var(--border) solid 1px; 
    border-radius: 6px;
    color: var(--fontcolor);
    font-weight: bold;
}
.underheader{
    display: flex;
    height: 30px;
    width: 1347px;
}
.iconsheader{
    display: flex;
}
.subheader li {
    margin-right: 10px;
    margin-left: 8px
}
.boxsub{
    width: 700px;
    margin: auto;
}
.leftbar h1, .leftbar h2, .principalbox h1, .principalbox h2{
    color: var(--fontcolor);
}
.leftimg img{
    width: 300px;
    border-radius: 50%;
}
.leftbar button {
    width: 100%;
    padding: 8px;
    font-weight: 700;
    background-color: var(--header);
    border: 1px solid var(--border);
    color: var(--fontcolor);
    border-radius: 8px;
}
.leftbar button:hover{
    background-color: #8b949e49;
}
.leftbar h1{
    font-size: 1.5rem ;
}
.leftbar h2{
    font-weight: 100;
    font-size: 1.25rem ;
    color: var(--user);
}
.leftbar p {
    color: var(--fontcolor);
}
.principalbox h1{
    border-bottom: thin solid #66666665;
}
.principalbox h1, .principalbox h2{
    font-size: 1.313rem;
    margin-bottom: 16px;
}
.principalbox p{
    font-size: 0.875rem;
}
.principalbox article{
    display: inline-flex;
    width: 420px;
    height: 89px;
    border-radius: 8px;
    border: 1px solid var(--border);
    margin-bottom: 20px;
    margin-top: 20px;
}
.principalbox button {
    padding: 8px;
    color: #8B949E;
    background-color: #0d111700;
    border: 1px solid var(--border);
}
.firstSection{
    padding: 24px;
    width: 95%;
    height: 359px;
    border: solid 1px var(--border);
    border-radius: 8px;
}
.firstSection a{
    margin-bottom: 12px;
    text-decoration: none;
    color: var(--links) ;
}
.firstSection a:hover{
    margin-bottom: 12px;
    text-decoration: underline;
    color: var(--links) ;
}
.firstSection button{
    margin-bottom: 16px;
}
.pinned{
    width: 406px;
    display: inline-flex;
}
.pinnedContent{
    margin: auto;
}
.pinnedContent a{
    color: var(--links);
    text-decoration: none;
}
.pinnedContent p{
    border: var(--border) 1px solid;
    border-radius: 20px;
}

