.container{
    width: 600px;
    margin: auto;
    box-shadow: 1px 1px 3px 3px #e4e4e47a;
}
.subContainer{
    width: 60%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    padding: 20px;
}
#lista{
    width: 600px;
    margin: auto;
    margin-top: 20px;
}