*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: monospace;
    font-size: 1rem;
}
.container{
    width: 400px;
    margin: auto;
    margin-top: 40px;
    border-radius: 8px;
    background-color: #4f7c5a ;
    box-shadow: 1px 3px 3px 1px #bebebe;
}
.subContainer{
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 20px;
}
#lista{
    margin: auto;
    width: 350px;
    margin-top: 20px;
}
ul li {
    background-color: rgb(88, 160, 86);
    margin-bottom: 10px;
    border-radius: 8px;
    list-style: none;
    padding: 8px;
    box-shadow: 1px 3px 3px 1px #bebebe;
}
li:hover{
    background-color: rgb(66, 143, 63); 
}
input{
    padding: 8px;
    outline: none;
    border: none;
}
h1, input, button{
    border-radius: 8px;
    margin-bottom: 10px;
}
li, h1, #btExcluir, #btAdd{
    color: #fff;
}
.resposta{
    text-align: center;
}
#checkbox{
    margin-right: 20px;
    margin-left: 20px;
}
#btExcluir, #btAdd{
    background-color: rgb(255, 141, 34);
    width: 100px;
    border: none;
    padding: 8px;
}
#btExcluir:hover{
    background-color: rgb(230, 127, 32);
}
#btAdd{
    width: 40px;
    background-color: rgb(92, 153, 90);
}
#btAdd:hover{
    background-color: rgb(66, 143, 63); 
}

