ul, li, a {
    list-style: none;
    text-decoration: none;
    display: inline;
    color: #cd3700;
    margin: 10px;
    font-weight: 600;
}
nav {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align:  right;
    box-shadow: 0px 0px 8px 0px #d1d1d1;
}

#foto{
    float: right;
    width: 50%;
    height: 641px;
}
#foto img{
    float: left;
}
#informacoes{
    float: left;
    width: 50%;
    height: 641px;
}
#info{
    float: right;
    margin: 30px;
}
#info h1{
    font-size: 3em;
    font-weight: 800;
    color: #cd3700;
}
#info h2 {
    font-size: 2em;
    font-weight: 700;
    color: #5299a1;
}
#info button{
    padding: 15px;
    width: 25%;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1em;
}
#btComprar{
    background-color: #00688b;
    color: #ffffff;
}
#btVermais{
    background-color: #cd3700;
    color: #ffffff;
}
#info p {
    color: #03a89e;
}
#btComprar:hover{
    background-color: #2281a7;
}
#btVermais:hover{
    background-color: #e4440a;
}
#redes{
    float: left;
    width: 100px;
}
