ul, li, a {
    list-style: none;
    text-decoration: none;
    display: inline;
    color: #0d3999;
    margin: 10px;
    font-weight: 600;
}
nav {
    padding: 20px;
    text-align:  right;
    margin-right: 80px;
}
#foto{
    float: right;
    position: relative;
    margin-right: 200px;
}
#informacoes{
    float: left;
    width: 500px;
    margin-top: 20px;
    padding: 15px;
    margin-left: 100px;
}
section h1{
    margin: 15px;
    font-size: 2em;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0d3999;
}
section h2{
    font-weight: 700;
    color: #5299a1;
    margin: 15px;
}
section p {
    color: #2281a7;
    margin: 15px;
}
section button {
    width: 30%;
    margin-top: 20px;
    padding: 15px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #0d3999;
    box-shadow: 0px 3px 8px 0px #979797;
}
section button:hover{
    background-color: #2281a7;
}
